**/*~
**/*.cache
**/__pycache__/
/aux/
/azrael/bullet/.sconsign.dblite
/azrael/bullet/azBullet.cpp
/azrael/bullet/azBullet.cpython-34m.so
/azrael/bullet/bin/
/azrael/bullet/build/
/azrael/bullet/bullet-2.82-r2704.tgz
/azrael/bullet/bullet.os
/azrael/bullet/bulletlib/
/azrael/bullet/cython_bullet.cpp
/azrael/bullet/cython_bullet.cpython-34m.so
/azrael/bullet/cython_bullet.os
/azrael/data/
/demos/video/
/demos/models/
/doc/_build/
/doc/json_schemas/
/doc/images/orig
/doc/source/tmp/
/volume/
