**/*~
**/*.cache
**/__pycache__/
/azrael/bullet/.sconsign.dblite
/azrael/bullet/bin/
/azrael/bullet/bullet.os
/azrael/bullet/cython_bullet.cpp
/azrael/bullet/cython_bullet.cpython-34m.so
/azrael/bullet/cython_bullet.os
/doc/_build/
/doc/source/tmp/
/viewer/models/
/aux/
/viewer/video/
/azrael/data/
/volume/
/doc/images/orig
/azrael/bullet/bulletlib/
/azrael/bullet/build/
/azrael/bullet/azBullet.cpp
/azrael/bullet/azBullet.cpython-34m.so
/azrael/bullet/bullet-2.82-r2704.tgz
