**/*~
**/__pycache__/
/azrael/bullet/.sconsign.dblite
/azrael/bullet/bin/
/azrael/bullet/bullet.os
/azrael/bullet/cython_bullet.cpp
/azrael/bullet/cython_bullet.cpython-34m.so
/azrael/bullet/cython_bullet.os
/doc/_build/
/doc/source/tmp/
/doc/azrael.log
/viewer/models/
/azrael.log
/aux/
/viewer/video/
/azrael/data/
